.dialog
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 80vh
  width: 80vw
  margin: auto
  padding: 16px
  border: 0
  border-radius: 0.6rem
  box-shadow: 0 0 1em black

.dialog::backdrop
  background-color: rgba(0, 0, 0, 0.4)

.content-dialog
  .close-btn
    position: absolute
    right: 8px
    bottom: 8px
